#signin_page{
    height: calc(100vh - 119px);
    width: 50%;
}

a{
    color: var(--base);
}

.btn-linkedin{
    background: #1798A5;
}

.btn-linkedin:hover{
    background: #168d97;
}

@media (max-width: 1080px){
    #signin_page{
        width: 75%;
    }
}